@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.line {
  border-top: 2px solid $gold-drop;
  margin-top: 30px;
}

.organizationWrapper {
  margin-top: 20px;
}


.section {
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 0 60px;
  margin: 60px 0;
}

.organizations {
  width: 100%;
  display: flex;
  flex-direction: column;
}
