@import "styles/fonts";
@import "styles/colors";
@import "styles/sizes";

.container {
  background-size: cover;
  background-position: center;

  h1 {
    margin: 0 auto 50px;
    width: 680px;
    text-align: center;
  }

  :global(.block-img) {
    text-align: center;
    margin: 0px;
  }
}

.illustration {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(70%, rgba(0, 0, 0, 1)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  display: block;
  width: calc(100% + #{$section-horizontal-padding * 2});
  margin-left: -$section-horizontal-padding;
  margin-bottom: -$section-vertical-padding;
}

.tabs {
  flex: 1;
}

.tab {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.tab-title {
  text-transform: uppercase;
  font-family: $poppins-semibold;
  font-size: 24px;
  letter-spacing: 2px;

  .selected & {
    color: $buccaneer;
  }
}

.tabSelectedIcon {
  font-size: 35px;
  color: $buccaneer;
  font-family: $poppins-regular;

  .tab:not(.selected) & {
    display: none;
  }
}

.tabs-content {
  flex: 1;
  padding: 0 50px;
  display: flex;
  overflow-x: hidden;
}

.tab-content {
  flex-shrink: 0;
  width: 100%;
  visibility: hidden;

  &.selected {
    order: -1;
    visibility: visible;
  }
}

.tab-icon {
  max-width: 60px;
  margin-right: 20px;
}

.tab-info {
  display: flex;
  align-items: center;
}

.mobile-content {
  display: none;
}

@media (max-width: 900px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .section-content {
    flex-direction: column;
  }

  .mobile-content {
    display: inherit;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tab-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .tab-title {
    max-width: none;
    margin-bottom: 10px;
  }

  .tab-description {
    margin: 10px 0;
  }

  .title {
    transform: unset;
    writing-mode: horizontal-tb;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .tab-image {
    max-width: 300px;
  }
}
