@import "styles/sizes";

.mobile {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
  }
}


.tablet {
  display: none;

  @media (min-width: $tablet-min + 1px) and (max-width: $tablet-max) {
    display: block;
  }
}


.desktop {
  display: none;

  @media (min-width: $desktop-min + 1px) {
    display: block;
  }
}
