@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";

.container {
  display: flex;
  position: absolute;
  padding: 20px 40px;
  background-color: transparent;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.header-content {
  flex-direction: column;
}

.social-media {
  align-self: flex-end;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  max-width: 200px;
}

.link {
  font-family: $poppins-semibold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
  cursor: pointer;
}

.action-button {
  text-transform: uppercase;
  padding: 5px 15px;
  outline: none;
  border-radius: 4px;
  border-style: solid;
  font-family: $poppins-semibold;
  margin-right: 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.social-icon {
  margin-right: 10px;

  > img {
    max-width: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  svg path {
    color: white;
  }
}

@media (max-width: 600px) {
  .links-container {
    display: none;
  }

  .social-media {
    display: none;
  }
}
