@import "../../../styles/fonts.scss";

.container {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  padding: 0 60px;
}

.title {
  color: white;
  font-family: $poppins-semibold;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-self: flex-start;
  margin-right: 30px;
  font-size: 12px;
}

.section-content {
  display: flex;
  width: 100%;
}
