@import "styles/fonts";
@import "styles/sizes";

.container {
  background-size: cover;
  background-position: center;
  min-height: $section-vertical-min-height;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $section-vertical-padding $section-horizontal-padding;

  .title {
    color: white;
  }
  
}

.section-content {
  display: flex;
  width: 100%;
  max-width: $max-desktop-size;
}
