@import "styles/utils";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.malnutrition-section {
  background-size: cover;
  background-position: left;
  height: 2600px;
  position: relative;
  padding: 50px;
  
  article {
    position: absolute;
    align-content: center;
    bottom: 95%;
    color: black;
    width: 100%;
  }
}

.section-title {
  position: absolute;
  align-content: center;
  bottom: 95%;
  color: black;
  width: 100%;
}

.section-content {
  display: flex;
  width: 100%;
}

.malnutrition_menues {
  flex: 1;
}

.malnutrition_menu {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-title {
  text-transform: uppercase;
  font-family: $poppins-semibold;
  font-size: 20px;
  letter-spacing: 2px;
  max-width: 200px;

  .selected & {
    color: $buccaneer;
  }
}

.menuSelectedIcon {
  font-size: 35px;
  color: $buccaneer;
  font-family: $poppins-regular;

  .menu:not(.selected) & {
    display: none;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

.menu-image {
  max-width: 400px;
}

.menu-icon {
  max-width: 40px;
  background-color: $gold-drop;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.menu-description {
  font-size: 12px;
  font-family: $poppins-regular;
  color: gray;
  text-align: center;
  max-width: 400px;
}

.menu-info {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .malnutrition-section {
    $padding: 20px;
    
    background-position: center;
    text-align: center;
    padding: $padding;
    
    article {
      width: calc(100% - #{$padding * 2});
    }

    @include background-opaque;
  }
}

