@import "styles/utils";
@import "../../../styles/fonts.scss";
@import "../../../styles/colors.scss";

.malnutrition-section {
  background-size: cover;
  background-position: left;
  height: 1500px;
  position: relative;
  padding: 50px;
}

.section-title {
  justify-content: center;
  text-align: center;
  position: absolute;
  align-content: center;
  color: black;
  width: 500px;
  padding-left: 33%;
  margin-top: 1%;
  font-size: 40px;
}

.section-content {
  display: flex;
  width: 100%;
  padding-top: 11%;
}

.malnutrition_menues {
  flex: 1;
  padding-left: 10%;
}

.malnutrition_menu {
  display: flex;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: left;
  cursor: pointer;
  justify-content: space-between;
  width: 80%;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-title {
  text-transform: uppercase;
  font-family: $poppins-semibold;
  font-size: 30px;
  letter-spacing: 2px;
  margin-right: 10%;

  .selected & {
    color: $buccaneer;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  padding-right: 10%;
  max-width: 40%;
  font-size: 20px;
}

.menu-image {
  max-width: 400px;
}

.menu-icon {
  max-width: 110px;
  padding: 10px;
  margin-right: 10px;
  font-size: 50px;
}

.menuSelectedIcon {
  font-size: 50px;
  color: $buccaneer;
  font-family: $poppins-regular;
  align-content: right;

  .menu:not(.selected) & {
    display: none;
  }
}

.menu-description {
  font-size: 12px;
  font-family: $poppins-regular;
  color: gray;
  text-align: center;
  max-width: 400px;
}

.menu-info {
  display: flex;
  align-items: center;
}

