@import "styles/fonts.scss";
@import "styles/sizes.scss";

.member {
  font-family: $poppins-regular;
}

.name {
  color: #3e693d;
  font-size: 25px;
  margin-bottom: 2px;
  font-family: $poppins-semibold;
}

.position {
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: $mobile-max) {
  .name {
    color: #3e693d;
    font-size: 20px;
    margin-bottom: 2px;
    font-family: $poppins-semibold;
  }

  .position {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
