@import "styles/colors.scss";
@import "styles/sizes.scss";

.footerRoot {
  color: $dune;
  font-family: "Poppins Semibold", serif;
  padding: 30px 15px;
  text-align: center;
  border-top: 1px solid $mercury;
}

.footerWrapper {
  max-width: $max-desktop-size;
  margin: auto;
}

.logo {
  height: 150px;
}

.actionButtonList {
  display: flex;
  justify-content: center;
  margin: 30px -10px;
}

.actionButtonItem {
  display: inline-flex;
  margin: auto 10px;
}

.actionButton {
  color: $dune;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid $dune;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
}

.navigationLinkList {
  margin: 30px 0;
}

.navigationLinkItem {
  margin: 10px 0;
}

.navigationSeparator {
  display: none;
}

.navigationLink {
  color: $dune;
  text-decoration: none;
  text-transform: uppercase;
}

.socialNetworkList {
  margin: 15px -15px;
}

.socialNetworkItem {
  display: inline-block;
  margin: 0 15px;
}

.socialNetworkImage {
  // 83.5% is to match the $dune color.
  -webkit-filter: invert(83.5%);
  filter: invert(83.5%);
  height: 32px;
}

.copyright {
  font-family: "Poppins Light", serif;
  font-size: 10px;
}

@media (min-width: $desktop-min) {
  .footerWrapper {
    display: grid;
  }

  .logoWrapper {
    grid-column: 2;
    grid-row: 1;
  }

  .actionButtonList {
    grid-column: 1;
    grid-row: 1;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 0;
  }

  .socialNetworkList {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0;
  }

  .navigationLinkList {
    grid-column: 1 / 4;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .navigationLinkItem {
    display: inline-block;
  }

  .navigationSeparator {
    display: inline-block;
    &::after {
      content: "•";
    }
  }

  .rights {
    float: left;
  }

  .copyrightNotice {
    float: right;
  }
}
