@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";

.mobile-container {
  display: flex;
  position: absolute;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.close-button {
  background: transparent;
  outline: none;
  border: 0;
  font-size: 20px;
}

.icon {
  max-width: 150px;
}

.menu-button {
  background: transparent;
  outline: none;
  border: 0;
}

.menu-icon {
  width: 30px;
}

.menu-layer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  font-family: $poppins-semibold;
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 30px;

  &.selected {
    text-decoration: underline;
  }
}

.action-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 15px;
  outline: none;
  border-radius: 4px;
  border-style: solid;
  font-family: $poppins-semibold;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.social-media {
  align-self: flex-end;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  align-self: center;
  flex: 1;
}

.social-icon {
  filter: invert(1);
  margin: 0 10px;
  > img {
    width: 30px;
  }
}