@import "styles/colors";
@import "styles/fonts";

.presentation {
  padding: 20px 60px 0;

  h3 {
    color: $gold-drop;
    font-family: $poppins-semibold;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin-right: 30px;
    font-size: 12px;
    display: inline-block;
  }
}

.slider {
  display: inline-block;
  width: calc(100% - 60px);
}

.presentation-slide {
  padding-bottom: 40px;
  text-align: center;

  :global(.block-img) {
    display: inline-block;
    
    img {
      height: 150px;
    }
  }
}

@each $alignment in (left right center justify) {
  .text-#{$alignment} {
    > * {
      text-align: $alignment;
    }
  }
}
