@import "../../../../styles/fonts.scss";

.tabs {
  font-family: $poppins-semibold;
  background-color: #31683d;
  display: flex;
  flex-direction: column;
}

.tabs-name {
  font-family: $poppins-semibold;
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  justify-content: center;
  align-content: center;
}

.tab-name {
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px;
  color: #81a88f;
  margin-left: 30px;
  padding-bottom: 5px;
}

.selected-tab-name {
  border-bottom: 3px solid #df8832;
  color: #df8832;
}

.tabs-content {
  padding: 0 15vw;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-content {
  display: none;
}

.selected-tab-content {
  display: block;
}

.tab-content p {
  font-family: $poppins-semibold;
  font-size: 18px;
  color: #ffffff;
}
