:global {
  body {
    background-color: rgb(163, 50, 2);
    margin: 0;
    font-family: 'Nixie One', serif;
    font-size: 30px;
  }
    
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li ul {
    display: none;
  }  
}
