$max-desktop-size: 1200px;
$mobile-max: 768px;
$tablet-min: $mobile-max + 1px;
$tablet-max: 900px;
$desktop-min: $tablet-max + 1px;
$section-vertical-padding: 60px;
$section-vertical-min-height: 600px;
$section-horizontal-padding: 40px;
