@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
}

.section-header img {
  width: 100%;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  padding-right: 5vw;
  margin-bottom: 80px;
}

.tab-name {
  font-family: $poppins-semibold;
  font-size: 25px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.selected-tab-name {
  color: $buccaneer;
}

.tabs-name {
  flex: 0 1 auto;
}

.tabs-name .icon {
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.tabs-content {
  font-family: $poppins-regular;
  flex: 1 1 0px;
}

.section-name {
  font-family: $poppins-semibold;
  font-size: 15px;
  color: #df8832;
  white-space: nowrap;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-name span {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
