@import "../../../../styles/fonts.scss";
@import "../../../../styles/colors.scss";

.section {
  padding-bottom: 5vw;
}

.middle {
  display: flex;
}

.section-header img {
  width: 100%;
  padding-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0 8vw;
}

.tab-name {
  font-family: $poppins-semibold;
  font-size: 25px;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.selected-tab-name {
  color: $buccaneer;
}

.tabs-name {
  flex: 1 1 auto;
}

.tabs-name .icon {
  margin-left: auto;
}

.tabs-content {
  font-family: $poppins-regular;
  flex: 1 1 0px;
}

.section-name {
  font-family: $poppins-semibold;
  font-size: 15px;
  color: #df8832;
  white-space: nowrap;
  width: 3em;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-name span {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
